.topnav {
    display: flex;
    flex-direction: column;
}


@media (min-width: 600px) {

.topnav {
      flex-direction: row;
}

.texto {
    flex: 33%;
}

.imagen {
    flex: 33%;
}

.formulario {
    flex: 33%;
}
}